*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo{
  border-radius: 50%;
}
.align{
  margin-left: 400px;
}

.userlogo{
  width: 20%;
  border-radius: 5%;
}
/* .size{
  width:50%;
  color:black;
  margin-left: 325px;
 padding: 5px;
 background: transparent;
} */

/* .App video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
} */

.App video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  z-index: -1;
}
.tablehead:hover{
  color:yellow;
}
/* 
.searchcolor:hover{
  background-color: white;
} */
